@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 5
   Case Problem 2

   Author: Jorge Celaya
   Date: 1/20/2023

   Filename: cw_styles.css

   This file contains the screen styles used with the
   Cauli-Wood Gallery home page

*/

/* Import Basic Design Styles  */
/* Page 449 step 3 */
@import "cw_designs.css";

/* ===============================
	General Styles for All Devices
   ===============================
*/
/* Page 449 step 4 */
nav#bottom {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
}

/* Page 449 step 5 */
nav#bottom ul {
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: 150px;
}

/* ===============================
	Mobile Styles up to 480 pixels
   ===============================
*/
/* Page 450 step 5 */
@media screen and (max-width: 480px) {
	body {
		color: rgb(211, 211, 211);
		background: rgb(51, 51, 51);
	}

	/* Page 450 step 7 */
	aside,
	article img,
	section#spotlight {
		display: none;
	}

	/* Page 450 step 7 */
	nav#top ul {
		display: flex;
		flex-wrap: wrap;
	}

	/* Page 450 step 8 */
	nav#top ul li {
		font-size: 2.2em;
		flex: 1 1 130px;
	}

	/* Page 450 step 9 */
	nav#top ul li:nth-of-type(1) {
		background-image: url("cw_image01.png");
	}

	/* Page 450 step 10 */
	nav#top ul li:nth-of-type(2) {
		background-image: url("cw_image02.png");
	}

	nav#top ul li:nth-of-type(3) {
		background-image: url("cw_image03.png");
	}

	nav#top ul li:nth-of-type(4) {
		background-image: url("cw_image04.png");
	}

	nav#top ul li:nth-of-type(5) {
		background-image: url("cw_image05.png");
	}

	nav#top ul li:nth-of-type(6) {
		background-image: url("cw_image06.png");
	}

	/* Page 450 step 11 */
	p#links {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-around;
	}

	/* Page 450 step 12 */
	p#links a {
		color: white;
		background: rgb(220, 27, 27);
		border-radius: 20px;
		padding: 10px;
		text-decoration: none;
	}
}

/* ============================================
	Tablet and Desktop Devices: 481px or more
   ============================================
*/
/* Page 450 step 13 */
@media screen and (min-width: 481px) {
	body {
		display: flex;
		flex-wrap: wrap;
	}

	/* Page 450 step 14 */
	article {
		flex: 2 1 400px;
	}

	aside {
		flex: 1 2 200px;
	}

	/* Page 450 step 15 */
	nav#top ul {
		display: flex;
		background: rgb(51, 51, 51);
		height: 50px;
		justify-content: center;
		align-items: center;
	}

	/* Page 450 step 16 */
	nav#top ul li {
		flex: 0 1 80px;
	}

	/* Page 450 step 17 */
	p#links {
		display: none;
	}
}
