/* General */
img {
	float: left;
	width: 400px;
	height: 300px;
}

/* Navbar */
nav div.container {
	justify-content: space-between;
}

ul {
	margin: 16px 0;
}

#navbar ul h6 {
	padding: 0 10px;
	width: 100%;
}

/* Table */
table {
	border-collapse: collapse;
	width: 80%;
	margin: 0 auto;
	padding: 0 16px;
	font-size: 1.2rem;
}

caption {
	font-family: "Poppins", sans-serif;
	font-size: 1.8rem;
	font-weight: bold;
	margin-bottom: 16px;
}

th,
td {
	width: 5%;
	padding: 16px;
	border: 1px solid #ddd;
}

th {
	text-align: center;
}

td:nth-of-type(2) {
	width: 40%;
}

tr:nth-of-type(odd) {
	background: #f0edebde;
}

thead th {
	background: #d87634fd;
	color: #efefef;
	font-weight: bold;
}

td:nth-of-type(3) {
	text-align: center;
}

/* Form */
.contact {
	box-sizing: border-box;
	padding: 2rem;
}

.contact input,
.contact textarea,
.contact select {
	font-size: 1rem;
	padding: 10px 8px;
	display: block;
	justify-content: center;
	align-items: center;
	width: calc(100% - 16px);
}

.contact input[type="checkbox"],
.contact input[type="radio"] {
	display: inline-block;
	width: 20px;
	height: 20px;
}

select#experience {
	width: 100%;
}

.contact textarea {
	min-width: 300px;
	min-height: 200px;
	max-width: 800px;
	max-height: 400px;
}

/* Footer */
footer {
	padding: 24px;
}

/* Utilities */
.btn {
	padding: 10px;
}

.container {
	margin: 0 auto;
	width: 90%;
}

.inline-block {
	display: inline-block;
}

.block {
	display: block;
}

.flex {
	display: flex;
}

.flex-col {
	flex-direction: column;
}

.flex-wrap {
	flex: 2 1 100px;
	flex-wrap: wrap;
}

.gallery {
	display: grid;
	gap: 2em;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

	padding-block: 2rem;
	width: 100%;
	margin-inline: auto;
}

.gallery img {
	width: 300px;
	height: 300px;
	margin: auto;
}

.text-center {
	text-align: center;
}

.center {
	justify-content: center;
	align-items: center;
}

.w-sm {
	width: 50%;
}

.w-md {
	width: 70%;
}

.w-80 {
	width: 80%;
}

.m-auto {
	margin: auto;
}

.m-10 {
	margin: 10px;
}

.my-0 {
	margin-top: 0;
	margin-bottom: 0;
}

.my-6 {
	margin-top: 6px;
	margin-bottom: 6px;
}

.my-10 {
	margin-top: 16px;
	margin-bottom: 16px;
}

.my-16 {
	margin-top: 16px;
	margin-bottom: 16px;
}

.mt-16 {
	margin-top: 16px;
}

.mt-32 {
	margin-top: 32px;
}

.mt-64 {
	margin-top: 64px;
}

mb-8 {
	margin-bottom: 8px;
}

mb-16 {
	margin-bottom: 16px;
}

.p-16 {
	padding: 16px;
}

.p-24 {
	padding: 24px;
}

.p-64 {
	padding: 64px;
}

.p-96 {
	padding: 96px;
}

.px-24 {
	padding-left: 24px;
	padding-right: 24px;
}

.pt-16 {
	padding-top: 16px;
}

.pt-32 {
	padding-top: 32px;
}

.pt-64 {
	padding-top: 64px;
}

.pb-8 {
	padding-bottom: 8px;
}

.pb-16 {
	padding-bottom: 16px;
}

.py-32 {
	padding-top: 32px;
	padding-bottom: 32px;
}

.py-64 {
	padding-top: 64px;
	padding-bottom: 64px;
}
